// NOTE: 웹팩 컬러 코드
// https://webpack.js.org/branding/#color-palette
$accentColor = 	#8dd6f9;
$codeBgColor = #2b3a42;
// NOTE: 뷰 프레스 컬러 코드
// https://github.com/vuejs/vuepress/blob/master/packages/%40vuepress/theme-default/styles/custom-blocks.styl
.custom-block
  &.tip
    background-color #f3f5f7
    border-color #1d78c1